.teacher-item {
    width: 90%;
    margin: 2.4rem auto 2.4rem auto;
    background: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: 0.8rem;
    overflow: hidden;
}

.teacher-item header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;
}

.teacher-item header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.teacher-item header div {
    margin-left: 2.4rem;
}

.teacher-item header div strong {
    font: 700 2.4rem Archivo;
    display: block;
    color: var(--color-text-title);
}

.teacher-item header div span {
    font: 700 1.6rem;
    display: block;
    margin-top: 0.4rem;
}

.teacher-item>p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 2rem;
}

/* Schedule list */
.schedule {
    border-top: 1px solid var(--color-line-in-white);
    padding: 2.4rem;
}

.schedule-day {
    display: flex;
    align-items: center;
    padding: 1.6rem;
    border-radius: 8px;
    background-color: var(--color-box-footer);
    border: 1px solid var(--color-line-in-white);
    margin-bottom: 0.9rem;
}

.schedule-day span {
    font: 400 1.6rem Poppins;
    color: var(--color-text-complement);
    margin-right: 1rem;
    position: relative;
}

.schedule-day span::before {
    content: ':';
    display: block;
    position: absolute;
    width: 10px;
    right: -10px;
}

.schedule-day strong {
    font: 700 1.6rem Archivo;
}

.schedule-day span~span {
    margin-left: auto;
}

/* Schedule list */

.teacher-item footer {
    padding: 3.2rem 2rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;
}

.teacher-item footer p strong {
    color: var(--color-primary);
    font-size: 1.6rem;
    margin-left: 1.6rem;
}

.teacher-item footer p {
    margin-bottom: 2.5rem;
}

.teacher-item footer a {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    text-decoration: none;
}

.teacher-item footer a img {
    margin-right: 1.6rem;
}

.teacher-item footer a:hover {
    background: var(--color-secundary-dark);
}

@media (min-width: 700px) {

    .teacher-item {
        width: 100%;
        margin-top: 2.4rem 0 2.4rem 0;
    }

    .teacher-item header,
    .teacher-item footer {
        padding: 3.2rem;
    }

    .teacher-item>p {
        padding: 0 3.2rem;
        margin-bottom: 0;
    }

    .schedule {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 16px;
        padding: 3.2rem 3.2rem 0px 3.2rem;
        border-top: none;
    }

    .schedule-day {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .schedule-day span {
        font: 400 1.2rem Poppins;
        margin-right: 0;
        line-height: 20px;
    }

    .schedule-day span::before {
        content: '';
    }

    .schedule-day span~span {
        margin-top: 1.2rem;
        margin-left: 0;
    }

    .schedule-day strong {
        font: 700 1.6rem Archivo;
        line-height: 2.6rem;
    }

    .teacher-item footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .teacher-item footer p {
        margin-bottom: 0;
    }

    .teacher-item footer p strong {
        display: initial;
        margin-left: 1.6rem;
        font-size: 2rem;
    }

    .teacher-item footer a {
        width: 24.5rem;
        justify-content: center;
        font: 700 1.6rem Archivo;
    }

    .teacher-item footer a img {
        margin-right: 1.6rem;
    }
}