.forgot-password-area {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    height: 100vh;
}

.forgot-password-area main {
    background-color: var(--color-background);
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.forgot-password-area main h1 {
    font: 600 2rem poppins;
    width: 250px;
    color: var(--color-text-title);
}

.forgot-password-area main p {
    color: var(--color-text-base);
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.forgot-password-area main form div {
    border-radius: 10px;
}

.forgot-password-area main form button.btn {
    margin-top: 1.5rem;
}

@media (max-width: 480px) {
    .forgot-password-area {
        grid-template-columns: 1fr;
    }

    .forgot-password-area main {
        display: inline-block;
        padding: 2rem;
    }

    .back-link {
        position: static;
        margin-bottom: 5rem;
    }
}