#page-teacher {
    width: 100vw;
    height: 100vh;
}

.page-header {
    background-color: var(--color-primary);
}

.page-header-top {
    border-bottom: 1px solid var(--color-primary-darker);
    background-color: var(--color-primary-dark);
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
}

.page-header-top-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
}

.page-header .page-header-top-content a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .page-header-top-content a:hover {
    opacity: 0.6;
}

.page-header .page-header-top-content span {
    color: var(--color-text-in-primary);
    font: 400 16px Archivo;
}

.page-header .page-header-top-content > img {
    height: 1.6rem;
}

.page-header-content {
    background: url('../assets/background-profile.svg') no-repeat center;
    background-size: contain;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.image-profile-area {
    position: relative;
    margin-top: 40px;
}

.page-header-content .image-profile-area > img {
    width: 180px;
    border-radius: 50%;
}

.image-profile-area button {
    position: absolute;
    bottom: 8%;
    right: 3%;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-secundary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-header-content span {
    font: 700 3.2rem Archivo;
    color: var(--color-button-text);
    margin-top: 2rem;
}

.page-header-content p {
    font: 400 2rem Poppins;
    color: var(--color-text-in-primary);
    margin-top: 0.5rem;
    margin-bottom: 80px;
}

#page-teacher main {
    background: var(--color-box-base);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}

#page-teacher main fieldset {
    border: 0;
    padding: 0 2.4rem;
}

#page-teacher main fieldset + fieldset {
    margin-top: 6.4rem;
}

#page-teacher main fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--color-text-title);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--color-line-in-white);
}

#page-teacher main fieldset legend button {
    background: none;
    border: 0;
    color: var(--color-primary);
    font: 700 1.6rem Archivo;
    cursor: pointer;
    transition: color 0.2s;
}

#page-teacher main fieldset legend button:hover {
    color: var(--color-primary-dark);
}


#page-teacher main fieldset .select-block + .input-block {
    margin-top: 2.4rem;
}

#page-teacher main fieldset .input-block + .textarea-block {
    margin-top: 2.4rem;
}

.input-grid, .input-grid2{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.6rem;
}

.input-grid + .input-grid2 {
    margin: 1.4rem 0;
}

#page-teacher main label{
    color: var(--color-text-complement);
}

#page-teacher main footer{
    padding: 4rem 2.4rem;
    background: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 6.4rem;
}

#page-teacher main footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-complement);
}

#page-teacher main footer p img{
    margin-right: 2rem;
}

#page-teacher main footer button{
    width: 100%;
    height: 5.6rem;
    background: var(--color-secundary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.2s;
    margin-top: 3.2rem;
}

#page-teacher main footer button:hover{
    background: var(--color-secundary-dark);
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.separator button {
    background-color: transparent;
    border: none;
    color: var(--color-text-delete);
    font: 600 14px Archivo;
    cursor: pointer;
}

.separator::before {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--color-line-in-white);
    margin-right: 1.5rem;
}

.separator::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: var(--color-line-in-white);
    margin-left: 1.5rem;
}

@media (min-width: 700px) {
    #page-teacher{
        max-width: 100vw;
    }

    #page-teacher main fieldset {
        padding: 0 6.4rem;
    }

    #page-teacher main .schedule-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }

    #page-teacher main .schedule-item .input-block {
        margin-top: 0 !important;
    }

    #page-teacher main footer {
        padding: 4.8rem 6.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #page-teacher main footer p {
        justify-content: space-between;
    }

    #page-teacher main footer button {
        width: 20rem;
        margin-top: 0;
    }

    .input-grid {
        grid-template-columns: 1fr 1fr;
    }

    .input-grid2 {
        grid-template-columns: 2fr 1fr;
    }

    #page-teacher main .input-grid .input-block,
    #page-teacher main .input-grid2 .input-block,
    #page-teacher main .input-grid2 .select-block + .input-block {
        margin-top: 0;
    }
}