.reset-password-container {
    width: 450px;
}

.reset-password-container form h1 {
    margin-bottom: 4rem;
}

.reset-password-container form .input-block+.input-block {
    margin-bottom: 4rem;
}

.reset-password-container form p {
    margin-top: 1rem;
    text-align: center;
    font: 400 1.2rem Poppins;
}