.page-header{
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.top-bar-container {
    padding: 1.6rem 20px;
    width: 100%;
    border-bottom: 1px solid var(--color-primary-darker);
    background-color: var(--color-primary-dark);
}

.top-bar-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar-content span {
    font: 500 1.6rem Archivo;
    color: var(--color-text-in-primary);
}

.page-header .top-bar-content a {
    height: 3.2rem;
    transition: opacity 0.2s;
}
.page-header .top-bar-content a:hover{
    opacity: 0.6;
}

.page-header .top-bar-content > img{
    height: 1.6rem;
}

.header-content{
    width: 90%;
    position: relative;
    margin: 3.2rem auto;
}

.page-header .header-content strong{
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

.page-header .header-content strong + p{
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}

.header-title .form-give-classes p , .header-title .form-study p {
    font: 500 1.2rem Poppins;
    text-align: left;
    color: var(--color-text-in-primary);
}

.form-give-classes, .form-study {
    display: flex;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.form-give-classes img, .form-study img {
    margin-right: 16px;
}


@media (min-width: 700px){
    .page-header{
        height: 416px;
    }

    .top-bar-container {
        padding: 1.6rem 0;
    }

    .top-bar-container {
        position: fixed;
        top: 0;
        padding: 1.6rem 0;
        z-index: 99999;
    }

    .page-header .top-bar-content{
        max-width: 1100px;
    }

    .page-header .header-content {
        flex: 1;
        max-width: 740px;
        margin: 64px auto 0 auto;
        padding-bottom: 48px;
        padding-top: 64px;
    }
    
    .header-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }

    .form-give-classes, .form-study {
        display: flex;
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
    }

    .form-give-classes {
        bottom: 0;
        right: 0;
    }

    .form-study {
        top: 50%;
        right: 0;
        transform: translateY(-50%)
    }

    .page-header .header-content strong{
        max-width: 350px;
    }
}