.floating-label-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-box-footer);
    border: 1px solid var(--color-line-in-white);
    padding: 14px 24px 14px 24px;
    position: relative;
    margin-top: -1px;
}

.floating-label-block:focus-within::before {
    content: '';
    width: 2px;
    height: 45px;
    background: var(--color-primary);
    position: absolute;
    top: 20%;
    left: -1px;
    border-radius: 8px;
}

.floating-label {
    position: relative;
    width: 100%;
}

.floating-label input::placeholder {
    color: rgba(0, 0, 0, 0);
}

.floating-label input {
    font-size: 1rem;
    width: 100%;
    outline: none;
    background-color: transparent;
    border: none;
    margin-top: 15px;
}

.floating-label label {
    position: absolute;
    top: 14px;
    left: 0;
    pointer-events: none;
    color: var(--color-text-complement);
    font-size: 1rem;
    transition: top 400ms, font 400ms;
}

.floating-label > input:focus + label,
.floating-label > input:not(:placeholder-shown) + label {
    color: var(--color-label-in-white);
    font-size: 12px;
    top: -2px;
}

.floating-label-block button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.floating-label-block button img {
    width: 24px;
    height: 24px;
}